:root {
  --color-purple: #a6b1e1;
  --color-purple-lt: #f4eeff;
  --color-yellow: #ffcb42;
}

html {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 380px 4fr;
  height: 100%;
}

header {
  grid-column: 2/3;
  box-shadow: 0 4px 5px -1px rgb(222, 217, 217);
  z-index: 1;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 5rem 2rem 3rem;
  gap: 32px;
}

.header-left {
  width: 60%;
  gap: 16px;
}

input[type="text"] {
  flex: 1;
  background-color: var(--color-purple-lt);
  border: none;
  border-radius: 32px;
  padding: 6px;
}

.header-right {
  justify-content: flex-end;
  gap: 32px;
  font-size: 1.4rem;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.5rem 1rem 3rem;
  gap: 24px;
}

.user-greeting {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: bold;
}

.user-greeting > p:last-child {
  font-size: 2rem;
}

button {
  background-color: var(--color-purple);
  border: none;
  border-radius: 24px;
  width: 120px;
  height: 45px;
  font-size: 1.2rem;
}

.header-bottom > img[src*="png"] {
  width: 5rem;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.sidebar {
  background-color: var(--color-purple);
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 100px 1fr;
  font-size: 1.6rem;
  font-weight: bold;
}

.side-text > h1 {
  font-size: 2.4rem;
}

.side-images > img {
  display: block;
  box-sizing: content-box;
}

.side-images > img:first-child {
  width: 48px;
}

.side-images {
  justify-items: center;
}

.side-text p:nth-child(8),
.side-images img:nth-child(8) {
  grid-row: 9/10;
}

.side-text p:nth-child(9),
.side-images img:nth-child(9) {
  grid-row: 10/11;
}

.side-text p:nth-child(10),
.side-images img:nth-child(10) {
  grid-row: 11/12;
}

.side-images,
.side-text {
  display: grid;
  grid-template-rows: 150px repeat(6, 50px) 60px repeat(3, 50px) 1fr;
  align-items: center;
}

article {
  background-color: var(--color-purple-lt);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40px;
  column-gap: 24px;
  row-gap: 20px;
  padding: 16px;
}

.card-section-titles,
.card .title {
  font-size: 1.4rem;
  font-weight: bold;
}

.card-section-titles {
  align-self: center;
  margin: 35px 0 0 4px;
  font-size: 1.5rem;
}

.projects {
  grid-column: 1/2;
}

.announcements {
  grid-column: 2/3;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 50px;
  border-left: 12px solid var(--color-yellow);
  box-shadow: 4px 4px 5px -1px rgb(222, 217, 217);
}

.card-top {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 6px;
}

.card-bottom {
  justify-self: end;
  display: flex;
  gap: 32px;
  margin-right: 50px;
}

.article-left {
  grid-column: 1/2;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 32px;
}

.announcement-card {
  background-color: #fff;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 10px;
  box-shadow: 4px 4px 5px -1px rgb(222, 217, 217);
  border-radius: 10px;
  margin-right: 20px;
}

.announcement-title {
  font-size: 1.1rem;
  font-weight: bold;
}

hr {
  margin-top: 16px;
}

.announcement-top,
.announcement-bottom,
.announcement-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  margin: 20px 20px 5px 20px;
}

.trending-card {
  background-color: #fff;
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 25px 0 30px 15px;
  margin-right: 20px;
  box-shadow: 4px 4px 5px -1px rgb(222, 217, 217);
  border-radius: 10px;
  gap: 8px;
}

.trending-left,
.trending-right {
  display: grid;
  gap: 24px;
}

.trending-left {
  justify-items: center;
}

.trending-left > img {
  border-radius: 50%;
  border: 1px solid black;
  width: 55px;
}

.trending-right > div {
  margin-top: 10px;
}

.koala p:first-child {
  font-size: 1.1rem;
}

img[src*="koala.png"] {
  background-color: #59ce8f;
}

img[src*="whale.png"] {
  background-color: #21e1e1;
}

img[src*="chick.png"] {
  background-color: #fa2fb5;
}

img[src*="svg"] {
  width: 32px;
}

img[src*="turtle"] {
  background-color: var(--color-yellow);
  border-radius: 50%;
  width: 55px;
  border: 1px solid black;
}
